.product{
    display: flex;
    border-bottom: 1px solid gray;
    margin-bottom: 8px;
    padding: 10px;
    width: 90%;
    font-family: sans-serif;
}

.product-details{
    width:60%;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(51, 46, 49);
    
}

.by{
    color: rgb(12, 44, 19);
}

.price{
    color: rgb(43, 35, 21);
}

.stock{
    color: rgb(54, 38, 36);
}

.addToCartBtn{
    background-color: #FFBB0C;
    color: rgb(7, 5, 5);
    width: 130px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid burlywood;
}
.addToCartBtn:hover{
    background-color: brown;
    color: #ddd;
    cursor: pointer;
}